* {
    overflow: hidden;
}

html {
    display: flex;
    width: 100%;
    justify-content: center;
}

.flex-container{
    display: flex;
    background-color: #000000;
    color: #ffffff;
    height: 100px;
    justify-content: center;
    align-items: center;
}

#logo_contain {
    flex: 30%;
}

#profile_icon_contain {
    width: 50px;
}

#game_trends_logo {
    height: 100px;
    width: 300px;
}

#user_image {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    /* margin-bottom: 20px;
    margin-left: 20px; */
}

.header_container{
    width: 100%;
    display: flex;
    justify-content: center;
}