* {
    width: 700px;
}

html {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color:aliceblue;
}

body {
    margin: 0;
}

h1 {
    text-align: left;
    margin-left: 2%;
}

/* button {
    width: 200px;
    height: 40px;
}
*/

p {
    background-color: 000000;
    text-align: left;
    margin-left: 2%;
    color: #FFFFFF;

} 

button {
    background-color: 000000;
    text-align:left;
}