{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/main_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard_styles.css' %}">

    <title>GameTrends - Dashboard</title>
</head>
<body>

    {% include 'header.html' %}

    <main>

        <div style="height: 560px;"></div>

        <h1>Recently Played</h1>
        <h1>Active Friends</h1>
        <h1>Popular games</h1>

    </main>

    {% include 'footer.html' %}
    
</body>
</html>