<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/footer_styles.css' %}">

    <script src="https://kit.fontawesome.com/8186703ab8.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    
    <div id="main_container">

        <i a href="{% url 'main:dashboard' %}" class="fa-solid fa-house" style="color: #48ff00;"></a></i>
        <i a href="{% url 'main:friends' %}" class="fa-solid fa-user-group" style="color: #48ff00;" href="friends"></a></i>
        <i a href="{% url 'main:games' %}" class="fa-solid fa-gamepad" style="color: #48ff00;" href="games"></a></i>


        

    </div>

</body>
</html>